* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 900px;
    height: 25px;
    text-align: center;
    margin: 10px auto;
    
}

.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 0 10px;
    border-right: 4px solid red;
    padding-right: 10px;
}
