html,
body {
    height: 100%;
}

.lista {
    list-style-position: inside;
    list-style-type: disc;
}

.lista>li {
    color: #b4b4b4;
    font-size: 18px;
    margin-top: 10px;
}

.lista>.item_3 {
    font-weight: bold;
}