h1 {
    color: red;
}

/*
*Para chamar o "id", #nome do id.
*Para chamar a "class", .nome da Class
*/
/*
* A útilização do sinal de maior que ">", serve para identificar apenas, as tags filhas, sejam afetadas pela estilização.
* As tags netas e subsequentes não serão afetadas pelas pela estiliação.
*/
#div1>h1 {
    color: red;
}

.div2>h1 {
    color: orange;
}