/*
*Estilo para o conteúdo do nosso site.
*/

.artigo{
    width: 75%;
    margin: 2.5% auto;
    text-align: center;
}

.artigo >h1 {
    color: rgb(66,149,244);
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    /*font-variant: small-caps;*/
}
.artigo > p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
/*  font-weight: bold;*/
    font-variant: normal;
    margin-top: 12px;
}